* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navber styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('Images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

section {
    margin-top: 130px;
}

.text-primary {
    color: #FD6E0A
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    border: 0;
}

/* banner styles */

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

/* about section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    background-color: #FFF8F3;
    padding: 130px 150px;
    border-radius: 10px;
    margin-top: 130px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* about info container style */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #757575
}